{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center">{% block title %} Artista {% endblock %}</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-3 mb-4">
                <div class="card text-white bg-primary mb-3">
                    <div class="card-header">Artista</div>
                    <div class="card-body">
                        <h4 class="card-title">{{ id['nome'] }}</h4>
                        <p class="card-text">gravadoras_id: {{ id['gravadoras_id'] }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
